<div class="flex justify-center items-center">
  <h1 class="text-4xl font-semibold ml-4">Totes legit</h1>
  <img src="assets/shark.png" class="h-24 ml-4">
  <h1 class="text-4xl font-semibold ml-4">loan service</h1>
</div>
<div class="flex justify-between my-10">
  <div>
      <div>Some Person</div>
      <div>A Street 153</div>
      <div>1337 Sandvika</div>
  </div>
  <div>
      <div>Date: 21.05.2020</div>
      <div>Reference: 2020/{{model.id}}</div>
  </div>
</div>
<h1 class="text-2xl uppercase my-10">Application for loan was {{model.status}}</h1>
<p *ngIf="isApproved()" class="border-black border-t-2 border-b-2">
    <span class="font-bold">Decision:</span> Congratulations, your loan application for purchase
    of a {{ model.subject }} has been approved. Please sign and return the attached documentation
    to complete the process.
</p>
<p *ngIf="isDeclined()" class="border-black border-t-2 border-b-2">
    <span class="font-bold">Decision:</span> Sorry buddy, your loan application for purchase
    of a {{ model.subject }} has been declined. You have 30 days to register a complaint regarding
    this decision.
</p>
<h2 class="font-bold text-l mt-10">Legal basis for the decision</h2>
<p class="mt-4">Nullam vulputate id lorem nec suscipit. Cras quis dapibus diam. Mauris leo magna, varius non lacus quis, malesuada sagittis quam. Etiam at lorem pretium, vestibulum nisi sit amet, consequat velit. Nulla feugiat risus vel eros accumsan fringilla. Curabitur egestas venenatis nulla finibus fringilla. Nam ultricies egestas bibendum. Nam at urna consequat, feugiat augue a, facilisis ex. Donec a libero in diam luctus imperdiet. Donec non arcu vel arcu porta ultrices eu id magna. Morbi posuere mi sem, nec porttitor neque scelerisque eu. Mauris laoreet vulputate ligula ac semper. Praesent nec iaculis massa. Aenean et dignissim lorem, ac placerat mi.</p>
<h2 class="font-bold text-l mt-10">Assessments and conditions</h2>
<p class="mt-4">Maecenas lacinia lobortis dolor, id condimentum dolor faucibus sit amet. Ut sit amet mattis lorem. Praesent nec suscipit sem. Aenean finibus eros vel convallis blandit. Pellentesque dapibus feugiat volutpat. Curabitur convallis nunc ut lobortis congue. Donec hendrerit ligula mi. Maecenas sed elementum ante, in vulputate nunc. Fusce vulputate velit augue, ut porttitor velit vehicula ac. Nunc ultrices eros augue, sed iaculis odio vestibulum at. Etiam convallis fermentum nisi, vel faucibus magna lacinia vel.</p>
<p class="mt-4">Suspendisse vestibulum vestibulum odio. Maecenas tempus, enim at porttitor venenatis, mi diam varius leo, non vestibulum felis odio quis justo. Integer ut tellus mollis, fermentum sem in, dictum ipsum. Mauris vel pellentesque dolor. Integer vel diam porttitor, tincidunt sapien eu, cursus ex. Vivamus tristique eget augue vel ultrices. Nulla orci enim, scelerisque a lacus sit amet, rhoncus lobortis elit. Maecenas ut rutrum felis, eu dapibus ante. Cras dapibus nisi quis turpis ultricies, quis varius quam pharetra. Pellentesque accumsan suscipit justo sodales malesuada. Etiam bibendum diam diam, egestas consectetur elit consequat a. Nulla bibendum auctor massa, fringilla maximus mauris sollicitudin vitae. Proin vel posuere urna.</p>

<p class="mt-16">Sincerely,</p>
<p class="mt-16">Case handler: Uhtred the Bold</p>